ol li:before {
    content: counter(level1) " "; /*Instead of ". " */
    counter-increment: level1;
    margin-top: 224px;
  }

ol {
  position: relative;
  counter-reset: level1;
  font-size: 112px;
  list-style-type: none;
}

.survey h3 {
  margin-top: 49px;
  margin-bottom: 50px;
  margin-right: -10px;
  font-weight: 300;
  font-size: 156px;
  text-align: right;
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
}

.survey h1 {
  font-size: 60px;
  line-height: 65px;
  font-weight: 300;
}

.survey .row {
  margin-left: 0;
}

.color-0 h3 { color: #1ABC9C;}
.color-0 h1 { border-top: 8px solid #1ABC9C;}
.color-0 .btn {background-color: #1ABC9C;} 
.color-0 .btn:hover {background-color: #16A085;}

.color-1 h3 { color: #2ECC71;}
.color-1 h1 { border-top: 8px solid #2ECC71;}
.color-1 .btn {background-color: #2ECC71;} 
.color-1 .btn:hover {background-color: #27AE60;}




